.btn {
  border: none;
  background-color: $light-color;
  border-radius: 5px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-size: 1.75rem;
  font-family: "Odibee Sans", cursive;
}
